.main__form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    width: calc(50vw - 80px);
    max-width: 520px;
}

.main__form__label {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.main__form__input,
.main__form__select,
.main__form__textarea {
    width: 100%;
    padding: 12px 9px;
    border-radius: 12px;
    border: solid 2px var(--gray);
    font-size: 16px;
    font-weight: 600;
}

.main__form__select {
    color: var(--gray);
}

.main__form__title {
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin: 0px 0px 0px 0px;
    width: 100%;
    text-align: left;
}

.main__form__button {
    background: var(--blue-2);
    color: #fff;
    padding: 14px 86px;
    font-size: 16px;
    font-weight: 600;
    border: 0px;
    outline-width: 0px;
    border-radius: 12px;
    width: min-content;
}

.main__div--1 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.main__carImage {
    margin: 20px 0px 0px 0px;
}

.main__form__textarea {
    padding: 6px 9px;
}

@media screen and (max-width: 768px) {
    .main__div--1 {
        flex-direction: column;
        padding-bottom: 40px;
    }
}