
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 20px 0px;
}

.main__videoWrapper {
  background: var(--black);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__video {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: none;
  max-width: 960px;
}

.main__text--1 {
  font-family: sans-serif;
  text-align: center;
  margin: 12px 0px 0px 0px;
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  padding: 0px 30px;
  font-weight: 600;
}

.main__carsCardDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px 20px;
}

.main__carsCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4px;
  width: 22vw;
  min-width: 270px;
  margin: 0px 10px;
}

.carsCard__img {
  width: 100%;
  height: auto;
}

.carsCard__div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 12px;
}

.carsCard__div--2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.carsCard__link {
  font-family: sans-serif;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}

.carsCard__link:hover {
  text-decoration: underline;
}

.carsCard__text {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.carsCard__info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  min-width: 24px;
  background: transparent;
  border: 0px;
  outline-width: 0px;
  padding: 0px;
  margin: 0px;
}

.carsCard__info img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carsCard__checkBox {
  height: 30px;
  width: 30px;
  padding: 0px;
  margin: 0px;
  min-height: 30px;
  min-width: 30px;
}

.main__button.button--compare {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: var(--white);
  text-align: center;
  padding: 12px 38px;
  border-radius: 10px;
  background: var(--blue-2);
  border: solid 3px transparent;
  outline-width: 0px;
  margin: 20px 0px;
  transition: 0.3s ease;
}

.main__button.button--compare:hover {
  background: transparent;
  border: solid 3px var(--blue-2);
  color: var(--blue-2);
  transform: scale(1.02);
}

@media screen and (max-width: 720px) {
  .main__carsCardDiv {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
  }
}