body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 20px 30px;
}

.main__videoWrapper {
  background: var(--black);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__video {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: none;
  max-width: 960px; /* opcional: limita o tamanho em telas grandes */
}

.main__carsCardDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 30px;
}

.main__carsCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4px;
  width: 22vw;
}

.carsCard__img {
  width: 100%;
  height: auto;
}

.carsCard__div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 12px;
}

.carsCard__info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  min-width: 24px;
  background: transparent;
  border: 0px;
  outline-width: 0px;
  padding: 0px;
  margin: 0px;
}

.carsCard__info img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carsCard__checkBox {
  height: 30px;
  width: 30px;
  padding: 0px;
  margin: 0px;
  min-height: 30px;
  min-width: 30px;
}

.main__button.button--compare {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: var(--white);
  text-align: center;
  padding: 12px 38px;
  border-radius: 10px;
  background: #1650da;
  border: solid 3px transparent;
  outline-width: 0px;
  margin: 20px 0px;
  transition: 0.3s ease;
}

.main__button.button--compare:hover {
  background: transparent;
  border: solid 3px #1650da;
  color: #1650da;
  transform: scale(1.02);
}