:root {
  --white: #fff;
  --black: #000;
  --blue: #1a347d;
  --blue-2: #1351da;
  --gray: #b1b1b1;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0px;
  position: relative;
}

button,
input[type="checkbox"] {
  cursor: pointer;
}

p, a, span {
  font-family: "Poppins", sans-serif;
}