.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: 100%;
  padding: 20px 30px;
  background: var(--blue);
  order: 100;
}

.footer__socialsDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  justify-self: start;
}

.footer__socialsText {
  color: var(--white);
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 600;
  margin: 0px;
}

.footer__socials {
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.footer__socials img {
  height: 35px;
  width: 35px;
}

.footer__socials:hover {
  transform: scale(1.1) translateY(-5px);
}

.footer__copy {
  color: var(--white);
  justify-self: center;
  text-align: center;
}

.footer__logo {
  justify-self: end;
  cursor: pointer;
  transition: 0.3s ease;
}

.footer__logo:hover {
  transform: scale(1.1);
}

.footer__div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

@media screen and (width <= 950px) {
  .footer__socialsDiv {
    flex-direction: column;
  }
}

@media screen and (width <= 612px) {
  .footer {
    display: flex;
  }
  .footer__socialsDiv {
    display: none;
  }
  .footer__logo {
    display: none;
  }
  .footer__copy {
    text-align: center;
    width: 100%;
  }
}
